*{font-family: 'Open Sans', sans-serif;}
h1{color:#025157;
    font-family: 'Alegreya', serif;
    text-align: center;
    font-size: 3rem; 
    font-weight: 600; 
}

h2{color:#025157;
    font-family: 'Alegreya', serif;
    text-align: left;
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 0px;
}

/*            
        INSTRUCCIONES EJERCICIO 1 RETO 4
        Los colores que van a aplicar son los siguientes:
            Texto que va debajo del título: #46484c
            Texto promocional: #8b8b8bcc
            Texto del botón: #fff 
            Color de fondo de la página: #fffbf7
            Color de fondo del botón: #025157
            */
            
    body{
        background-color:#fffbf7 
    }
    p:first-of-type{
        color:#46484c
    }
    form +p{
        color:#8b8b8bcc;
        margin-right: 0px;
        
        
    }

    input{border-radius: 5px 0px 0px 5px;
        border: solid gray 1px;
    line-height: 1.7;}

    button:last-child{
        color:#fff;
         background-color: #025157;
         border: 1px red;
         border-radius: 0 5px 5px 0;
         margin-left: 0px;
         position: relative;
        left:-6px;
        line-height: 2;
        }
    
    .header{margin: 40px 0px 20px 0px; font-size: 0px}
/*n nuestro caso usaremos el hack del font-size, resulta que si lo que le da tamaño a los espacios en blanco es el tamaño de la fuente, podemos darle un tamaño de fuente 0 al contenedor y luego asignar el tamaño de fuente correcto en cada elemento hijo. Hagamos una prueba, teniendo en cuenta que el tamaño de la fuente será de 16px para el menú de navegación:*/


    .header > * {
        display: inline-block; 
        font-size: 16px;
        vertical-align: middle;
        height: 100%;
        
    }

    .logo{width: 10%}
    .logo >  * {width:100%}

    .navbar {
        height: 45px;
        width: 70%;
        text-align: center;
        color:#025157
        
      }
      
      .actions {
        width: 15%;
        text-align: right;
        font-size: 14px;
        margin:0px 10px;
      }

    

    ul>* {display: inline; margin: 0px 25px; color:#025157;}


    .main{margin-top: 140px;
    text-align: center;}

    .actions a{color:#67b54b }
    
    .actions *:nth-child(2){
        color:white;
        background-color: #67b54b;
        padding: 12px 14px;
        border: solid red 0px;
        border-radius: 5px;
        ;
    }



    #fig2 > *{
        width: 80%;
    margin:auto;
    }



    #conText p {color:#343434}


    .publicidad{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: stretch;

    }


    .publicidad  div{
        margin:2rem;
        width: 30%;
        max-width: 30%;
        overflow: hidden;
    }

    #conVideo{display: flex; flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    
    #conVideo img{
        width: 40%;
        height: 40%;
        margin: auto 0 auto 0;
        display: block;
    }



    .fijo{
        position: fixed;
        top:0;
        left:0;
        right:0;
        background-color: #fffbf7 ;
    }